<header class="blog-header py-2 bg-primary text-white">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 pt-1">
      <a class="text-dark pl-5 ml-5 mx-4" href="#">Subscribe</a>
    </div>
    <div class="col-4 text-center">
      <a
        routerLink="/"
        routerLinkActive="Active"
        class="blog-header-logo text-white"
        >Bazar.com</a
      >
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center mr-5">
      <a class="text-dark" href="#" aria-label="Search">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="mx-3"
          role="img"
          viewBox="0 0 24 24"
          focusable="false"
        >
          <title class="text-dark">Search</title>
          <circle cx="10.5" cy="10.5" r="7.5" />
          <path d="M21 21l-5.2-5.2" />
        </svg>
      </a>
      <a class="btn btn-sm btn-outline-dark mr-3 text-light" href="#"
        >Sign up</a
      >
    </div>
  </div>
</header>

<div class="nav-scroller">
  <nav class="nav d-flex">
    <a class="p-1 pl-5 px-3 text-muted">Mens Fashion</a>
    <a
      routerLink="/courses"
      routerLinkActive="active"
      class="p-1 pl-5 px-3 text-muted"
      >Courses</a
    >
    <a
      routerLink="/page/about"
      routerLinkActive="active"
      class="p-1 pl-5 px-3 text-muted"
      >About Us</a
    >
    <a routerLink="/contactus" class="p-1 pl-5 px-3 text-muted">Contact Us</a>
    <a class="p-1 px-3 text-muted" href="#">Women Fashion</a>
    <a class="p-1 px-3 text-muted" href="#">Computer Accessories</a>
    <a class="p-1 px-3 text-muted" href="#">Electronic Devices</a>
    <a class="p-1 px-3 text-muted" href="#">Baby&Toys</a>
    <a class="p-1 px-3 text-muted" href="#">Watches&Accessories</a>
  </nav>
</div>
<router-outlet></router-outlet>
